<div class="container">
  <div class="row">
    <div class="col s12">
     <div class="card-panel grey lighten-5 z-depth-1">
       <div class="row">
         <div class="col s12 m4">
           <img src="{{location.image}}" alt="" class="responsive-img">
         </div>
         <div class="col s12 m8">
           <h3>{{location.location_name}}</h2>
             <hr>
           <h5>Line Length: {{location.line_length}}</h5>
         </div>
       </div>
     </div>
   </div>
  </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h4>How Long is the Line?</h4>
            <p class="flow-text">
              Help us keep our data up to date by voting.
            </p>
            {{#if location.inGeofence}}
              {{#if login}}
              <div class="row center-align">
              <form>
                <button id="shortLine" class="waves-effect waves-light btn btn-large" value="1">Short Line</button>
                <button id="mediumLine" value="2" class="waves-effect waves-light btn btn-large">Medium Line</button>
                <button id="longLine" value="3" class="waves-effect waves-light btn btn-large">Long Line</button>
              </form>
              </div>
              {{else}}
              <div class="row center-align">
                <h5>Please login to vote</h5>
              </div>
              {{/if}}
              {{else}}
              <h5>
                You may only vote when present in chosen location.
              </h5>
            {{/if}}

        </div>
    </div>
</div>

<script src="/assets/js/lineLength.js" type="text/javascript"></script>
